<!DOCTYPE html>
<html>
<head>
    <%- include('../layout/head') %>
</head>
<body>
  <header>
    <%- include('../layout/header') %>
  </header>
  <main>
    <%- include('../layout/header') %>
  </main>
  <footer></footer>
  <script src="../../../server.js"></script>
</body>
</html>