<div id="head1">
  <h1>Best Books!</h1>
  <nav>
    <div id="menuToggle">
      <input type="checkbox"/>
      <span></span>
      <span></span>
      <span></span>
      <ul id="navMenu">
        <a href="/"><li>Home</li></a>
        <a href="./searches/search.ejs"><li>Search the Google Books API</li></a>
      </ul>
    </div>
  </nav>
</div>
  <div id="head2">
    <h2>Search by Title or Author</h2>
  </div>