<nav>
  <div id="menuToggle">
    <input type="checkbox"/>
    <span></span>
    <span></span>
    <span></span>
    <ul id="navMenu">
      <a href="#"><li>Home</li></a>
      <a href="#"><li>Search the Google Books API</li></a>
    </ul>
  </div>
</nav>