<div id="form">
    <form action="/bookSearch">
      <div id="searchBx">
        <input type="textz" name="searchArea" />
      </div>
      <div id="searchRdo">
        <div id="title">
          Title<input type="radio" name="searchType" value="title" />
        </div>
        <div id="author">
          Author<input type="radio" name="searchType" value="author" />
        </div>
        <input type="submit" value="Search the Google Books API" id="searchBtn">
      </div>
    </form>
  </div>