<!DOCTYPE html>
<html>
<head>
    <%- include('./layout/head') %>
    <link rel="stylesheet" type="text/css" media="screen" href="styles/base.css" />
</head>
<body>
  <header>
    <%- include('./layout/header') %>

  </header>
  <main>
    <div class="results">
      <div></div>
      <h2>Book Title</h2>
      <h3>Author Name</h3>
      <p>Book description goes here...Lorem ipsum dolor sit amet, ipsum posuere suscipit elit ipsum suspendisse nullam, nunc arcu. Ligula rutrum luctus nibh arcu tortor vestibulum, aptent porta a interdum lorem. Nunc odio tellus. Donec eget a gravida leo, blandit mi lorem consectetuer enim, quisque repudiandae sit dignissim nec quisque eleifend, cras suspendisse erat pretium malesuada turpis viverra, tellus nec sodales. Suspendisse urna porta porta ac, pharetra ipsum phasellus, fusce ultrices.</p>
    </div>
  </main>
  <footer></footer>
  <script src="../../server.js"></script>
</body>
</html>