.results {
  background-color: #b3b3b3;
}
.results>div {
  background-color: #999999;
}
.results>h2 {
  background-color: #999999;
  color: #000000;
}
.results>h3 {
  background-color: #999999;
  color: #000000;
}
.results>p {
  background-color: #999999;
  color: #000000;
}
